body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

#filters {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#filters label {
    margin: 0 10px;
}

/* Style pour la section du QR code */
#qr-code-section {
    text-align: center;
    margin: 20px;
}

#qr-code-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

#qr-code-section img {
    border: 2px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}