body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

#filters {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#filters label {
    margin: 0 10px;
}

#qr-code-section {
    text-align: center; /* Centre le contenu de la section du QR code */
    margin: 20px; /* Marge autour de la section */
}

#qr-code-section img {
    border: 2px solid #ddd; /* Bordure grise */
    padding: 10px; /* Padding autour de l'image */
    background-color: #f9f9f9; /* Fond clair derrière l'image */
    border-radius: 10px; /* Coins arrondis */
    width: 150px; /* Largeur réduite */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
}