body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

#filters {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#filters label {
    margin: 0 10px;
    font-weight: bold;
}

#filters select,
#filters input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    min-width: 150px;
}

#filters select:focus,
#filters input:focus {
    border-color: #4CAF50;
    outline: none;
}

#qr-code-section {
    text-align: center;
    margin: 20px;
}

#qr-code-section h2 {
    margin-bottom: 10px;
}

#qr-code-section img {
    border: 2px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    width: 150px;
    height: auto;
    transition: transform 0.2s;
}

#qr-code-section img:hover {
    transform: scale(1.1);
}

#map {
    margin: 20px auto;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}